#canvasContainer { position: relative; width: 500px;}
#imageView { border: 1px solid #000; background-color: white; }
#imageTemp { position: absolute; top: 1px; left: 1px; }
#overlay { position: absolute; top: 50px; left: 0px; z-index: 50; pointer-events: none; }

#mainContainer {
  width: 720px;
  margin: 0 auto;
  font-size: 9pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

.control {

}

.controlTop {
  height:50px;

}

.controlText {
  overflow: auto ;
  bottom: 0px;
}

.controlLabel {
  background-color: yellow;
  padding: 2px;
  margin-top: 3px;
  margin-bottom: 3px;
  display: block;
}


.componenet {
  position: relative;
  border: 1px solid black;
  background: -webkit-gradient(linear, 0 0, 0 100%, 363636(#5C5C5C), to(#363636));
  background: -webkit-linear-gradient(#5C5C5C 0%, #363636 100%);
  background: -moz-linear-gradient(#5C5C5C 0%, #363636 100%);
  background: -o-linear-gradient(#5C5C5C 0%, #363636 100%);
  background: linear-gradient(#5C5C5C 0%, #363636 100%);
}

.horizontalControls > * {
  float: left;
  margin-right:10px;
  height:75px;
}

.horizontalControls {
  width: 900px;
  overflow: none;
}

#synth {
  height:80px;
}

#sonogram {
  height:300px;
}

#sequencer {
  height:80px;
}

.compSide {
    position: relative;
    top: 1px;
    left: 1px;
    width: 200px;
    height: 100%;
}
.compMain {
    position: absolute;
    top: 1px;
    left: 200px;
    width: 520px;
}

.buttonset {
  top: 10px;
  position: relative;
}

#freqData {
  background-color: white;
  border: 1px solid black;
  top: 3px;
  right: 5px;
  width: 180px;
  position: absolute;
}

#save {
  top: 30px;
  right: 5px;
  width: 90px;
  position: absolute;
}

#saveNew {
  top: 65px;
  right: 5px;
  width: 90px;
  position: absolute;
}



.noteControls {
  top: 100px;
  right: 5px;
  width: 120px;
  position: absolute;
}


.logo {
  display: block;
  color: black;
  text-shadow: 2px 2px gray;
  font: bold 1.8em Arial, sans-serif;
  position: relative;
  text-align: center;
  text-transform:uppercase;
  width: 150px;
}

INPUT {
  width: 30px;
}
